Q1. Load the dataset (5 points)

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import numpy as np
import pandas as pd

In [0]:
blog_df = pd.read_csv('/gdrive/My Drive/NLP/blogtext.csv')

In [4]:
blog_df.shape

(681284, 7)

In [5]:
blog_df.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [6]:
blog_df.isnull().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

I am taking 5000 data only as it is  not working.Seems very huge data set.

In [0]:
blog_df=blog_df.head(5000)

**Q2. Preprocess rows of the “text” column (7.5 points)**

In [0]:
blog_df=blog_df.drop(['id','date'],axis=1)

In [9]:
blog_df.head()

  gender  age  ...      sign                                               text
0   male   15  ...       Leo             Info has been found (+/- 100 pages,...
1   male   15  ...       Leo             These are the team members:   Drewe...
2   male   15  ...       Leo             In het kader van kernfusie op aarde...
3   male   15  ...       Leo                   testing!!!  testing!!!
4   male   33  ...  Aquarius               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 5 columns]

In [10]:
blog_df.shape

(5000, 5)

In [11]:
blog_df['text']

0                  Info has been found (+/- 100 pages,...
1                  These are the team members:   Drewe...
2                  In het kader van kernfusie op aarde...
3                        testing!!!  testing!!!
4                    Thanks to Yahoo!'s Toolbar I can ...
                              ...
4995           So... I had another one of those dreams...
4996           mmm... strawberry tea for breakfast. To...
4997           Yay for a new layout!!  Yeah, I know, I...
4998           Ok, so I lied... Fed up isn't playing F...
4999           well, today I went to church and talked...
Name: text, Length: 5000, dtype: object

In [12]:
blog_df.head()

  gender  age  ...      sign                                               text
0   male   15  ...       Leo             Info has been found (+/- 100 pages,...
1   male   15  ...       Leo             These are the team members:   Drewe...
2   male   15  ...       Leo             In het kader van kernfusie op aarde...
3   male   15  ...       Leo                   testing!!!  testing!!!
4   male   33  ...  Aquarius               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 5 columns]

In [0]:
blog_df['text_new']=blog_df['text'].str.lower()

In [15]:
blog_df.head()

  gender  ...                                           text_new
0   male  ...             info has been found (+/- 100 pages,...
1   male  ...             these are the team members:   drewe...
2   male  ...             in het kader van kernfusie op aarde...
3   male  ...                   testing!!!  testing!!!
4   male  ...               thanks to yahoo!'s toolbar i can ...

[5 rows x 6 columns]

In [16]:
blog_df.shape

(5000, 6)

In [17]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
import re
import unicodedata
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [0]:
def remove_accented_chars(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return text

In [0]:
def remove_special_characters(text, remove_digits=False):
    #Using regex
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [0]:
def lemmatize_text(text):

    lemmatizer = WordNetLemmatizer()
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split()])

In [0]:
def simple_stemmer(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

In [0]:
def normalize_corpus(corpus, html_stripping=True, accented_char_removal=True, text_lower_case=True, 
                     text_lemmatization=True, special_char_removal=True, 
                     stopword_removal=True, remove_digits=True):
    
    normalized_corpus = []
    # normalize each document in the corpus
    for doc in corpus:
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove extra newlines
        doc = re.sub(r'[\r|\n|\r\n]+', ' ',doc)
        # remove special characters and\or digits    
        if special_char_removal:
        # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits)
        # lemmatize text
        if text_lemmatization:
            doc = lemmatize_text(doc)  
        # remove extra whitespace
            doc = re.sub(' +', ' ', doc)
            
        normalized_corpus.append(doc)
        
    return normalized_corpus

In [0]:
blog_df['text_new'] = normalize_corpus(blog_df['text_new'])

In [24]:
blog_df.head()

  gender  ...                                           text_new
0   male  ...  info ha been found page and mb of pdf file now...
1   male  ...  these are the team member drewes van der laag ...
2   male  ...  in het kader van kernfusie op aarde maak je ei...
3   male  ...                                    testing testing
4   male  ...  thanks to yahoo s toolbar i can now capture th...

[5 rows x 6 columns]

**Q3. As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence (7.5 points)**

In [0]:
blog_df['label'] = blog_df["gender"].map(str)+ ', ' + blog_df["age"].map(str)+ ', ' + blog_df["topic"].map(str)+ ', ' + blog_df["sign"]

In [27]:
blog_df.head()

  gender  ...                                  label
0   male  ...                 male, 15, Student, Leo
1   male  ...                 male, 15, Student, Leo
2   male  ...                 male, 15, Student, Leo
3   male  ...                 male, 15, Student, Leo
4   male  ...  male, 33, InvestmentBanking, Aquarius

[5 rows x 7 columns]

In [0]:
blog_data=blog_df[['text_new','label']]

In [29]:
blog_data.sample(5)

                                               text_new                        label
3314  at last good news howard dean win the drunk an...  male, 35, Technology, Aries
2052  for those that have not seen two tower yet rea...  male, 35, Technology, Aries
2679                          wow that is one happy ben  male, 35, Technology, Aries
244   fatigue reverberate though the ear deep line o...  male, 15, Student, Aquarius
1386  hello im back again friday wa simply great i d...   female, 24, Banking, Libra

In [30]:
blog_data['label'].value_counts().shape

(96,)

In [63]:
blog_data['label'].nunique()

96

In [32]:
blog_data.astype

<bound method NDFrame.astype of                                                text_new                                  label
0     info ha been found page and mb of pdf file now...                 male, 15, Student, Leo
1     these are the team member drewes van der laag ...                 male, 15, Student, Leo
2     in het kader van kernfusie op aarde maak je ei...                 male, 15, Student, Leo
3                                       testing testing                 male, 15, Student, Leo
4     thanks to yahoo s toolbar i can now capture th...  male, 33, InvestmentBanking, Aquarius
...                                                 ...                                    ...
4995  so i had another one of those dream last night...            female, 17, indUnk, Scorpio
4996  mmm strawberry tea for breakfast tomorrow i th...            female, 17, indUnk, Scorpio
4997  yay for a new layout yeah i know i need to get...            female, 17, indUnk, Scorpio
4998  ok so i lied fed up isnt playing friday night ...            female, 17, indUnk, Scorpio
4999  well today i went to church and talked to the ...            female, 17, indUnk, Scorpio

[5000 rows x 2 columns]>

**Q4. Separate features and labels, and split the data into training and testing (5 points)**

In [33]:
X=blog_data['text_new']
Y=blog_data['label']
print(X.shape)
print(Y.shape)

(5000,)
(5000,)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=2)

In [36]:
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(3750,) (3750,)
(1250,) (1250,)

**Q5. Vectorize the features (5 points**)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(ngram_range=(1, 2),stop_words='english')

In [38]:
vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [39]:
len(vect.vocabulary_)

228837

In [0]:
x_train_dtm=vect.transform(X_train)

In [0]:
x_test_dtm=vect.transform(X_test)

In [42]:
x_train_dtm[0]

<1x228837 sparse matrix of type '<class 'numpy.int64'>'
	with 104 stored elements in Compressed Sparse Row format>

In [43]:
x_test_dtm[0]

<1x228837 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [44]:
print(x_train_dtm.shape)
print(x_test_dtm.shape)

(3750, 228837)
(1250, 228837)

In [45]:
x_train_dtm

<3750x228837 sparse matrix of type '<class 'numpy.int64'>'
	with 437929 stored elements in Compressed Sparse Row format>

In [46]:
x_test_dtm

<1250x228837 sparse matrix of type '<class 'numpy.int64'>'
	with 85708 stored elements in Compressed Sparse Row format>

text_new    object
label       object
dtype: object

**Q6. Create a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label. Check below image for reference (5 points)**

In [86]:
dict = {x: blog_data['label'].value_counts() for x in (blog_data['label'].unique())}
dict

{'female, 14, Student, Capricorn': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 14, indUnk, Aquarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 14, indUnk, Aries': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 14, indUnk, Cancer': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 14, indUnk, Leo': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, Arts, Pisces': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, Student, Aquarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, Student, Cancer': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, Student, Gemini': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, Student, Leo': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, Student, Libra': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 15, indUnk, Aries': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 16, Student, Libra': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 16, indUnk, Leo': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 16, indUnk, Sagittarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 16, indUnk, Taurus': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 17, Student, Aries': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 17, Student, Gemini': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 17, Student, Leo': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 17, Student, Scorpio': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 17, indUnk, Scorpio': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, Automotive, Aquarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, Student, Taurus': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, indUnk, Aquarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, indUnk, Aries': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, indUnk, Libra': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, indUnk, Sagittarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 23, indUnk, Virgo': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 24, Banking, Libra': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 24, Religion, Capricorn': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 24, indUnk, Aries': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 24, indUnk, Scorpio': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, BusinessServices, Aries': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, Student, Leo': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, Student, Taurus': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, indUnk, Capricorn': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, indUnk, Libra': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, indUnk, Sagittarius': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131
 male, 24, Engineering, Libra        119
                                    ...
 female, 27, Education, Gemini         1
 female, 16, indUnk, Sagittarius       1
 male, 25, Non-Profit, Capricorn       1
 female, 33, indUnk, Sagittarius       1
 female, 36, Student, Gemini           1
 Name: label, Length: 96, dtype: int64,
 'female, 25, indUnk, Taurus': male, 35, Technology, Aries        2294
 female, 34, indUnk, Sagittarius     532
 female, 24, indUnk, Scorpio         191
 female, 15, Student, Libra          131

**Q7. Transform the labels - (7.5 points)**

In [48]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer(classes=Y_train.unique())
mlb.fit_transform('Y_train')
mlb.transform('Y_test')

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:987: UserWarning: unknown class(es) ['Y', '_', 'a', 'i', 'n', 'r', 't'] will be ignored
  .format(sorted(unknown, key=str)))
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:987: UserWarning: unknown class(es) ['Y', '_', 'e', 's', 't'] will be ignored
  .format(sorted(unknown, key=str)))

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0]])

In [49]:
x_train_dtm.shape

(3750, 228837)

In [50]:
print(Y_train.shape)
print(Y_test.shape)

(3750,)
(1250,)

**Q8. Choose a classifier - (5 points)**

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver='lbfgs')
clf1vR = OneVsRestClassifier(clf)

**Q9. Fit the classifier, make predictions and get the accuracy (5 points)**

In [52]:
clf1vR.fit(x_train_dtm,Y_train)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [0]:
Ypred=clf1vR.predict(x_test_dtm)

In [54]:
from sklearn.metrics import accuracy_score
print( "Accuracy Score: ",accuracy_score(Y_test, Ypred))

Accuracy Score:  0.6928

**Q10. Print true label and predicted label for any five examples (7.5 points)**

In [56]:
print(Y_train,Ypred)

4715     male, 25, Technology, Aries
3576     male, 35, Technology, Aries
4996     female, 17, indUnk, Scorpio
2556     male, 35, Technology, Aries
611     male, 24, Engineering, Libra
                    ...
3335     male, 35, Technology, Aries
1099      female, 15, Student, Libra
2514     male, 35, Technology, Aries
3606     male, 35, Technology, Aries
2575     male, 35, Technology, Aries
Name: label, Length: 3750, dtype: object ['male, 35, Technology, Aries' 'female, 34, indUnk, Sagittarius'
 'male, 35, Technology, Aries' ... 'male, 35, Technology, Aries'
 'male, 39, Communications-Media, Libra' 'female, 34, indUnk, Sagittarius']